$borderRadius: 5px;

@mixin handleBorder() {
    border: 1px solid black;
    border-radius: $borderRadius;
}


body {
    margin: 0;
    padding: 0;
    background-color: #fff;


    .container {
        margin: 2rem auto;

        .jumbotron {
            background-color: orange;
            padding: 1rem 2rem;
            border-radius: $borderRadius;
            text-align: center;
        }

        .navbar {
            @include handleBorder();

            p {
                color: black;
                font-weight: 500;
                vertical-align: middle;
                margin: .5rem 2rem;
                font-size: 1.2rem;
            }
        }

        .stats-table {
            background-color: white;
            text-align: center;
            @include handleBorder();
        }

        .pagination {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 1rem 0;
        }

        .navbar-collapse {
            position: relative;
            left: -1.7rem;
        }
    }

    footer {
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 3rem;
        font-size: 15px;
        font-weight: 600;
        color: black;
    }
}