.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}


.header {
  margin: 1rem;
}

p {
  margin: 1rem;
  font-weight: 600;
  font-size: 1.5rem;

}

.inputText { 
  margin-right: 1rem;
}

.stats {
  margin-bottom: 1rem;
  padding: 2rem;
  border: 1px solid black;
}